@import "../fonts/fonts.css";
@import "helpers/_responsive";
* {
    font-family: 'Helvetica';
    letter-spacing: 0 !important;
    margin: 0;
    padding: 0;
}

dl,
ol,
ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.vcenter-item {
    display: flex;
    align-items: center;
}

.offset-2,
.offset-3 {
    @include respond-down(xs) {
        margin: 0;
    }
}

#mobile-nav {
    display: none;
    @include respond-down(pc) {
        display: block;
        background: black;
        padding: 5px;
    }
    img.main-logo {
        height: 60px;
    }
    .navbar-toggler {
        color: white;
        border: none;
        border-radius: 0;
        outline: none !important;
        box-shadow: none !important;
        padding-right: 0;
        font-size: 33px;
    }
    div#offcanvasDarkNavbar {
        background: black !important;
        li.nav-item {
            &.active {
                a {
                    color: #FFD634;
                }
            }
        }
        a.nav-link {
            color: white;
            font-size: 30px;
            font-weight: 901;
            padding-bottom: 0px;
            &:hover {
                color: #FFD634;
            }
        }
    }
    .offcanvas-header {
        align-self: flex-end !important;
        button {
            opacity: 1;
        }
    }
}

.container-fluid-2 {
    padding: 0 6%;
    margin-right: auto;
    margin-left: auto;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    @include respond-down(xs) {
        padding: 0 15px;
    }
}

@keyframes loop {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes loop-r {
    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

//********* Header ***********//
.header {
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #000004;
    @include respond-down(pc) {
        display: none;
    }
    .navbar {
        padding: 15px 0;
        @include respond-down(pc) {
            padding: 7px 0;
        }
        .navbar-nav {
            align-items: center;
            min-width: 800px;
            justify-content: space-between;
            .nav-item {
                .main-logo {
                    width: 40px;
                    margin: 0 70px;
                    @include respond-down(pc) {
                        width: 35px;
                    }
                }
                .nav-link {
                    color: white;
                    font-family: 'Biryani', sans-serif;
                    font-size: 17px;
                    font-weight: 600;
                    @include respond-down(pc) {
                        font-size: 23px;
                    }
                }
                .tachrit {
                    display: block;
                    position: relative;
                    height: 25px;
                    width: 1px;
                    background: white;
                }
                &.active {
                    a {
                        color: #FFD634;
                    }
                }
                a {
                    &:hover {
                        color: #FFD634;
                    }
                }
            }
        }
    }
    @include respond-up(xs) {
        &.header-white {
            .nav-link {
                color: white;
            }
            .btn-purple {
                color: #9F5184;
                background: white;
            }
            .nav-item {
                &.active {
                    a {
                        color: white;
                    }
                }
                a {
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}


/*** Home pagae ***/

.hero-slider {
    width: 100%;
    height: 75vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 0;
    transition: all .4s ease;
    overflow: hidden;
    @include respond-down(xs) {
        min-height: 60vh;
        height: initial;
        max-height: 600px;
    }
    .swiper-slide {
        overflow: hidden;
        color: #fff;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .slide-inner {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background-size: cover;
        background-position: bottom;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        &::before {
            content: "";
            position: absolute;
            background: url('/assets/images/hero-wave.png');
            background-size: cover;
            background-repeat: no-repeat;
            height: 140px;
            width: 100%;
            left: 0;
            z-index: 99;
            bottom: 0;
        }
    }
    .swiper-button-prev {
        background: transparent;
        width: 55px;
        height: 55px;
        line-height: 53px;
        margin-top: -30px;
        text-align: center;
        border: 2px solid #d4d3d3;
        border-radius: 55px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        left: 25px;
        transform: translateX(50px);
        &:after {
            color: white;
            font-size: 25px;
            @include respond-down(pc) {
                font-size: 12px;
            }
        }
        @include respond-down(pc) {
            width: 30px;
            height: 30px;
            border: 1px solid #d4d3d3;
        }
    }
    .swiper-button-next {
        background: transparent;
        width: 55px;
        height: 55px;
        line-height: 53px;
        margin-top: -30px;
        text-align: center;
        border: 2px solid #d4d3d3;
        border-radius: 55px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease;
        right: 25px;
        transform: translateX(-50px);
        &:after {
            color: white;
            font-size: 25px;
            @include respond-down(pc) {
                font-size: 12px;
            }
        }
        @include respond-down(pc) {
            width: 30px;
            height: 30px;
            border: 1px solid #d4d3d3;
        }
    }
    &:hover {
        .swiper-button-prev {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
        .swiper-button-next {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
        }
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        text-align: left;
        line-height: 12px;
        font-size: 12px;
        color: #000;
        opacity: 0.3;
        background: #fff;
        transition: all .2s ease;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
    }
    .swiper-container-horizontal {
        >.swiper-pagination-bullets {
            bottom: 30px;
            bottom: 50px;
            max-width: 1200px;
            padding: 0 15px;
            margin: 0 auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .swiper-pagination-custom {
        bottom: 30px;
    }
    .swiper-pagination-fraction {
        bottom: 30px;
    }
    .slide-title {
        text-align: center;
        a {
            color: #FFD634;
            font-size: 60px;
            font-weight: 901;
            border: 4px solid #FFD634;
            padding: 0px 90px;
            border-radius: 100%;
            transform: rotate(-9deg);
            display: inline-block;
            &:hover{
                border-color: black;
                color: black;
            }
            @include respond-down(pc) {
                font-size: 45px;
                border-width: 2px;
                padding: 0 70px;
            }
            @include respond-down(xs) {
                margin-bottom: 100px;
                margin-top: 100px;
            }
        }
    }
    .slide-btns {
        a {
            position: absolute;
            color: white;
            font-size: 50px;
            font-weight: 901;
            width: 215px;
            text-align: center;
            line-height: 50px;
            border: 3px solid white;
            padding: 15px;
            transform: rotate(6deg)translateY(-50%);
            top: 48%;
            right: 7%;
            -webkit-transition: 0.4s ease;
            transition: 0.4s ease;
            &:hover {
                -webkit-transform: rotate(6deg)translateY(-50%)scale(1.05);
                transform: rotate(6deg)translateY(-50%)scale(1.05);
            }
            @include respond-down(pc) {
                font-size: 40px;
                width: 160px;
                border-width: 2px;
                padding: 7px;
            }
            @include respond-down(xs) {
                position: relative;
                top: initial;
                right: inherit;
                display: block;
                margin: 0 auto;
            }
        }
    }
    .play-btn {
        text-align: center;
        font-size: 100px;
        padding-top: 40px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        a {
            color: white;
            -webkit-transition: 0.4s ease;
            transition: 0.4s ease;
            display: inline-block;
            &:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
    
}

section.recent-viceos {
    padding: 50px 0;
    overflow: hidden;
    @include respond-down(pc) {
        padding: 40px 0;
    }
    @include respond-down(xs) {
        padding-bottom: 10px;
    }
    .container-fluid {
        padding: 0;
    }
    .recent-viceos-title {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        /*padding: 0 6%;*/
        padding-bottom: 50px;
        @include respond-down(pc) {
            padding-bottom: 35px;
        }
        @include respond-down(xs) {
            padding-bottom: 10px;
        }
        .title-btns {
            display: flex;
            align-items: center;
            h3 {
                margin: 0;
                font-size: 45px;
                font-weight: 901;
                @include respond-down(pc) {
                    font-size: 35px;
                    line-height: 31px;
                }
            }
            .swp-btns {
                border: 2px solid black;
                width: 40px;
                height: 40px;
                margin-left: 10px;
                text-align: center;
                i {
                    font-size: 25px;
                    @include respond-down(pc) {
                        font-size: 17px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                    }
                }
                &:hover {
                    background: black;
                    color: white;
                }
                @include respond-down(pc) {
                    width: 31px;
                    height: 31px;
                    margin-bottom: 3px;
                }
            }
        }
        .more-videos a {
            font-size: 35px;
            font-weight: 901;
            border: 2px solid black;
            padding: 5px 50px;
            color: black;
            &:hover {
                background: black;
                color: white !important;
            }
            @include respond-down(pc) {
                font-size: 29px;
                padding: 0 50px;
            }
            @include respond-down(xs) {
                display: none;
            }
        }
    }
    .recent-viceos-swiper {
        overflow: hidden;
    }
    .recent-viceos-swiper .swiper-slide {
        width: 33.33%;
        margin-right: 40px;
        @include respond-down(xs) {
            margin: 0;
            padding: 20px;
        }
        .r-video-card {
            a {
                color: black;
            }
            img {
                width: 100%;
                -webkit-transition: 0.4s ease;
                transition: 0.4s ease;
                @include respond-down(xs) {
                    max-height: 211px;
                }
                &:hover {
                    -webkit-transform: scale(1.05);
                    transform: scale(1.05);
                }
            }
        }
        h4.vide-title {
            margin-top: 15px;
            font-size: 22px;
            font-weight: 900;
            @include respond-down(pc) {
                font-size: 19px;
                margin-top: 12px;
            }
        }
        h5.video-category {
            position: absolute;
            padding: 10px 20px;
            font-weight: 900;
            font-size: 40px;
            transform: rotate(5deg);
            right: 50px;
            bottom: 100px;
            @include respond-down(pc) {
                font-size: 30px;
                padding: 7px 12px;
                margin-bottom: 0;
                bottom: 70px;
                right: 30px;
            }
            @include respond-down(xs) {
                font-size: 25px;
                bottom: 85px;
                right: 40px;
            }
        }
        &:nth-child(1) {
            &.swiper-slide-active {
                /*margin-left: 6%;*/
                @include respond-down(xs) {
                    margin-left: 0;
                    padding: 20px;
                }
            }
        }
    }
}

section.breaking-records {
    padding: 50px 0;
    overflow: hidden;
    @include respond-down(pc) {
        padding: 40px 0;
    }
    @include respond-down(xs) {
        padding: 15px 0;
    }
    .container-records {
        display: flex;
        white-space: nowrap;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        transform: rotate(-3deg);
        .list {
            display: flex;
            align-items: top;
            -webkit-animation: loop 30s infinite linear;
            animation: loop 30s infinite linear;
            .item-txt {
                font-size: 70px;
                line-height: 80px;
                font-weight: 901;
                color: #1A1A1A;
                @include respond-down(pc) {
                    font-size: 45px;
                    line-height: 60px;
                }
            }
            .item-d {
                display: inline;
            }
            .item-dot {
                max-width: 40px;
                max-height: 40px;
                margin: 0 40px;
                display: inline-block;
                transform: translateY(-25px);
                @include respond-down(pc) {
                    max-width: 30px;
                    max-height: 30px;
                    margin: 0 20px;
                    transform: translateY(-15px);
                }
            }
        }
    }
}

section.social-account {
    padding: 50px 0;
    text-align: center;
    @include respond-down(pc) {
        padding: 50px 0;
    }
    @include respond-down(xs) {
        padding-bottom: 0px;
        padding-top: 40px;
    }
    .social-card {
        @include respond-down(xs) {
            margin-bottom: 40px;
        }
        img {
            max-height: 55px;
            margin-bottom: 25px;
            @include respond-down(pc) {
                max-height: 45px;
            }
        }
        h4 {
            font-size: 70px;
            font-weight: 901;
            line-height: 60px;
            margin-bottom: 15px;
            @include respond-down(pc) {
                font-size: 50px;
                line-height: 50px;
                margin-bottom: 10px;
            }
            span {
                font-size: 70px;
                font-weight: 901;
                line-height: 60px;
                @include respond-down(pc) {
                    font-size: 50px;
                    line-height: 50px;
                }
            }
        }
        span {
            font-weight: 500;
            font-size: 21px;
            line-height: 25px;
            @include respond-down(pc) {
                font-size: 18px;
                line-height: 22px;
            }
        }
    }
}

section.partners {
    padding: 50px 0;
    padding-bottom: 80px;
    @include respond-down(pc) {
        padding: 40px 0;
        padding-bottom: 50px;
    }
    @include respond-down(xs) {
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .partners-title {
        text-align: center;
        margin-bottom: 70px;
        @include respond-down(pc) {
            margin-bottom: 50px;
        }
    }
    .partners-title span {
        position: relative;
        font-size: 45px;
        font-weight: 901;
        @include respond-down(pc) {
            font-size: 38px;
        }
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            background: #A8FF70;
            width: 130%;
            height: 114%;
            top: -7%;
            left: -15%;
            transform: rotate(-3deg);
        }
    }
    img.partner-img {
        max-width: 150px;
        margin: 0 auto;
        display: block;
        @include respond-down(pc) {
            max-width: 100px;
        }
        @include respond-down(xs) {
            margin-bottom: 25px;
        }
    }
}

section.send-us-project {
    background: #A8FF70;
    padding: 20px 0;
    @include respond-down(xs) {
        padding: 35px 0;
    }
    .send-us-div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 50%;
            height: 2px;
            background: black;
            z-index: 1;
            left: 0;
            right: 0;
            margin: 0 auto;
            @include respond-down(pc) {
                width: 40%;
            }
            @include respond-down(xs) {
                display: none;
            }
            display: none;
        }
        @include respond-down(xs) {
            display: block;
            text-align: center;
        }
        .send-us-line {
            z-index: 1;
            margin: 0 auto;
            position: relative;
            min-width: 50%;
            @include respond-down(pc) {
                width: 40%;
            }
            @include respond-down(xs) {
                display: none;
            }
            span.send-line {
                position: relative;
                width: 100%;
                height: 2px;
                background: black;
                display: block;
            }
        }
        .send-us-title {
            position: relative;
            z-index: 2;
            background: #a8ff70;
            @include respond-down(xs) {
                margin-bottom: 15px;
            }
            h4 {
                font-size: 60px;
                font-weight: 901;
                margin: 0;
                line-height: 50px;
                @include respond-down(pc) {
                    font-size: 45px;
                    line-height: 45px;
                }
            }
        }
        .send-us-btn {
            background: #a8ff70;
            position: relative;
            z-index: 2;
            a {
                font-size: 35px;
                font-weight: 901;
                border: 2px solid black;
                padding: 5px 50px;
                color: black;
                @include respond-down(pc) {
                    font-size: 30px;
                    padding: 0px 50px;
                }
                &:hover {
                    background: black;
                    color: white !important;
                }
            }
        }
    }
}

footer.main-footer {
    position: relative;
    background: black;
    padding: 50px 0;
    @include respond-down(pc) {
        padding: 40px 0;
    }
    @include respond-down(xs) {
        padding-bottom: 100px;
    }
    &::before {
        content: "";
        position: absolute;
        background: url('/assets/images/footer-icon.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        width: 200px;
        right: 0;
        z-index: 99;
        bottom: 0;
        @include respond-down(pc) {
            height: 150px;
            width: 150px;
        }
        @include respond-down(xs) {
            width: 100px;
            height: 100px;
        }
    }
    .footer-content {
        ul.footer-link {
            list-style: none;
            a {
                color: white;
                font-size: 25px;
                font-weight: 500;
                i {
                    padding-right: 10px;
                }
                &:hover {
                    color: #a8ff70 !important;
                }
                @include respond-down(pc) {
                    font-size: 20px;
                }
                @include respond-down(xs) {
                    margin-bottom: 5px;
                    display: block;
                }
            }
        }
        .copyright {
            max-width: 530px;
            margin-top: 25px;
            @include respond-down(pc) {
                margin-top: 30px;
                max-width: 430px;
            }
            @include respond-down(xs) {
                width: 100%;
            }
            .terms-link {
                display: flex;
                justify-content: space-between;
                @include respond-down(xs) {
                    display: inline-grid;
                }
                a {
                    color: white;
                    font-weight: 300;
                    font-size: 16px;
                    text-transform: uppercase;
                    &:hover {
                        color: #a8ff70 !important;
                    }
                    @include respond-down(pc) {
                        font-size: 13px;
                    }
                    @include respond-down(xs) {
                        margin-bottom: 5px;
                    }
                }
            }
            p {
                color: white;
                font-weight: 300;
                font-size: 16px;
                text-transform: uppercase;
                @include respond-down(pc) {
                    font-size: 13px;
                    margin-bottom: 5px;
                }
            }
        }
    }
}


/*******************************
*************About**************
********************************/

section.hero-about {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    @include respond-down(xs) {
        height: 650px;
    }
    &::before {
        content: '';
        background: #00000047;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        position: absolute;
    }
    .hero-about-content {
        position: relative;
        z-index: 9;
        color: white;
        @include respond-down(pc) {
            padding-top: 80px;
        }
        h3.ha-title {
            font-size: 250px;
            font-weight: 901;
            line-height: 195px;
            margin-bottom: 20px;
            @include respond-down(pc) {
                font-size: 150px;
                line-height: 115px;
            }
            @include respond-down(xs) {
                font-size: 100px;
                line-height: 80px;
            }
        }
        p.ha-rapa {
            font-weight: 500;
            font-size: 25px;
            line-height: 35px;
            @include respond-down(pc) {
                font-size: 18px;
                line-height: 25px;
            }
            @include respond-down(xs) {
                font-size: 15px;
            }
        }
    }
}

section.about-artistes {
    padding: 50px 0;
    overflow: hidden;
    @include respond-down(pc) {
        padding: 40px 0;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .swiper-wrapper {
            transition-timing-function: linear;
        }
    }
    .artistes-swiper.artistes-swiper-right {
        padding-bottom: 50px;
        @include respond-down(pc) {
            padding-bottom: 40px;
        }
        @include respond-down(xs) {
            padding-bottom: 20px;
        }
    }
}

section.breaking-records-about {
    overflow: hidden;
    .container-records {
        display: flex;
        white-space: nowrap;
        .list {
            display: flex;
            align-items: top;
            .item-txt {
                font-size: 250px;
                line-height: 200px;
                font-weight: 901;
                color: #1A1A1A;
                margin: 0 20px;
                @include respond-down(pc) {
                    font-size: 150px;
                    line-height: 120px;
                }
                @include respond-down(xs) {
                    font-size: 80px;
                    line-height: 75px;
                }
            }
        }
        &.container-records-left {
            .list {
                -webkit-animation: loop 90s infinite linear;
                animation: loop 90s infinite linear;
            }
        }
        &.container-records-right {
            direction: rtl;
            .list {
                -webkit-animation: loop-r 90s infinite linear;
                animation: loop-r 90s infinite linear;
            }
        }
    }
}


/*************************************************************************/

.timeline {
    position: relative;
    white-space: nowrap;
}

.timeline ol {
    width: 100%;
    font-size: 0;
    padding: 340px 0;
    transition: all 1s;
    scroll-snap-type: x mandatory;
}

.timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 300px;
    height: 3px;
    background: black;
    scroll-snap-align: start;
}

.timeline ol li:last-child {
    width: 340px;
}

.timeline ol li:not(:first-child) {
    margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 70px;
    height: 70px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #A8FF70;
    z-index: 1;
}

.timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 340px;
    font-size: 1rem;
    white-space: normal;
    color: black;
}

.timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
    border-radius: 10px 10px 10px 0;
}

.timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
}

.timeline h4 {
    display: block;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 25px;
    color: black;
}

.timeline ol li p {
    padding-left: 50px;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 40px;
    margin-bottom: 0;
}

.timeline ol li p::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    top: 0;
    bottom: 0;
    background: black;
    left: 25px;
}

.timeline ol li p::after {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    left: 21px;
    border-radius: 10px;
    top: -5px;
    background: black;
}

.timeline ol li p span.time {
    font-size: 25px;
    font-weight: 900;
    margin-top: 20px;
    display: block;
}

.timeline ol li:nth-child(even) div p {
    padding-bottom: 0;
    padding-top: 40px;
}

.timeline ol li:nth-child(even) div p::after {
    top: initial;
    bottom: 0;
}

.timeline ol li:nth-child(even) div h4 {
    margin-top: 25px;
    margin-bottom: initial;
}

.timeline ol li:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 70px);
    bottom: 0;
    width: 90px;
    height: 90px;
    transform: translateY(40%);
    border-radius: 50%;
    background: #A8FF70;
    z-index: 1;
}

.timeline ol li:nth-child(even):not(:last-child)::before {
    left: calc(100% + 70px);
    transform: translateY(-140%);
}

.timeline ol li:nth-child(2)::before,
.timeline ol li:nth-child(2)::after {
    background: #C578FF;
}

.timeline ol li:nth-child(3)::before,
.timeline ol li:nth-child(3)::after {
    background: #F846F8;
}

.timeline ol li:nth-child(4)::before,
.timeline ol li:nth-child(4)::after {
    background: #FFEE06;
}

.timeline ol li:nth-child(5)::before,
.timeline ol li:nth-child(5)::after {
    background: #D0EE00;
}

.timeline ol li:nth-child(1) {
    width: 180px;
}

.timeline ol li:nth-child(6) {
    width: 460px;
}

@media screen and (max-width: 1400px) {
    .timeline ol::-webkit-scrollbar {
        height: 10px;
    }
    .timeline ol::-webkit-scrollbar-thumb,
    .timeline ol::-webkit-scrollbar-track {
        border-radius: 92px;
    }
    .timeline ol::-webkit-scrollbar-thumb {
        background: #000004;
    }
    .timeline ol::-webkit-scrollbar-track {
        background: #a8ff70;
    }
    .timeline ol {
        overflow-x: scroll;
        scrollbar-color: #a8ff70 #000004;
    }
}


/*************************************************************************/


/**************************************
****************Artistes***************
***************************************/

section.breaking-records-artistes {
    overflow: hidden;
    .container-records {
        display: flex;
        white-space: nowrap;
        .list {
            display: flex;
            align-items: top;
            .item-txt {
                font-size: 250px;
                line-height: 200px;
                font-weight: 901;
                color: #1A1A1A;
                margin: 0 20px;
                @include respond-down(pc) {
                    font-size: 150px;
                    line-height: 120px;
                }
            }
        }
        &.container-records-left {
            .list {
                -webkit-animation: loop 90s infinite linear;
                animation: loop 90s infinite linear;
            }
        }
        &.container-records-right {
            direction: rtl;
            .list {
                -webkit-animation: loop-r 90s infinite linear;
                animation: loop-r 90s infinite linear;
            }
        }
    }
}

section.breaking-records-categories {
    padding-top: 200px;
    padding-bottom: 100px;
    overflow: hidden;
    @include respond-down(pc) {
        padding-top: 150px;
        padding-bottom: 50px;
    }
    @include respond-down(xs) {
        padding-top: 130px;
        padding-bottom: 40px;
    }
    .categories-swiper {
        transform: rotate(3deg);
        .swiper-wrapper {
            width: 100% !important;
            margin: 0 auto;
        }
        .swiper-slide {
            text-align: center;
            a.item-txt {
                padding: 10px 30px;
                color: black;
                font-size: 70px;
                font-weight: bold;
                @include respond-down(pc) {
                    font-size: 45px;
                    padding: 10px 20px;
                }
                @include respond-down(xs) {
                    font-size: 18px;
                    padding: 10px 20px;
                }
            }
        }
    }
}

section.all-artistes {
    padding-bottom: 80px;
    @include respond-down(pc) {
        padding-bottom: 50px;
    }
    .all-artistes-con {
        form#search-form {
            margin-bottom: 20px;
            .input-group {
                border-bottom: 2px solid black;
                input.form-control {
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }
        }
        .search-artiste-card {
            .artiste.title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 15px;
                .a-title {
                    font-size: 25px;
                    font-weight: 500;
                    color: black;
                    @include respond-down(pc) {
                        font-size: 22px;
                    }
                }
                .a-category {
                    position: relative;
                    display: block;
                    font-size: 20px;
                    font-weight: 900;
                    padding: 0 20px;
                    color: black;
                }
            }
            img {
                width: 100%;
            }
        }
    }
}


/****************Artiste single******************/

section.artiste-info {
    margin-top: 105px;
    padding-top: 80px;
    @include respond-down(pc) {
        margin-top: 75px;
    }
    @include respond-down(xs) {
        padding-top: 40px;
    }
    .row {
        @include respond-down(xs) {
            flex-direction: column-reverse;
        }
    }
    .single-img-card {
        position: relative;
        img {
            width: 100%;
        }
        &::before {
            position: absolute;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgb(2, 0, 36);
            background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.0032387955182072714) 35%, rgba(0, 0, 0, 1) 100%);
        }
        ul {
            position: absolute;
            bottom: 30px;
            list-style: none;
            display: inline-table;
            left: 0;
            right: 0;
            margin: 0 auto;
            li {
                display: inline-flex;
                margin: 0 20px;
                a {
                    font-size: 35px;
                    color: white;
                    &:hover {
                        color: #A8FF70;
                    }
                    @include respond-down(pc) {
                        font-size: 28px;
                    }
                }
            }
        }
    }
    .single-info {
        .container-records {
            display: flex;
            white-space: nowrap;
            transform: rotate(-3deg);
            overflow: hidden;
            padding: 70px 0;
            @include respond-down(pc) {
                padding: 40px 0;
            }
            .list {
                display: flex;
                align-items: top;
                -webkit-animation: loop 30s infinite linear;
                animation: loop 30s infinite linear;
                .item-txt {
                    margin: 0 40px;
                    font-size: 150px;
                    line-height: 130px;
                    font-weight: 901;
                    color: #1A1A1A;
                    text-transform: uppercase;
                    @include respond-down(pc) {
                        font-size: 100px;
                        line-height: 70px;
                    }
                }
            }
        }
        p {
            font-size: 22px;
            line-height: 30px;
            margin-bottom: 40px;
            padding-right: 100px;
            @include respond-down(pc) {
                font-size: 20px;
                line-height: 27px;
            }
            @include respond-down(xs) {
                padding-right: 0;
            }
        }
        a {
            background: #A8FF70;
            color: black;
            padding: 15px 40px;
            font-size: 30px;
            font-weight: 900;
            display: inline-block;
            text-transform: uppercase;
            &:hover {
                background: black;
                color: white;
            }
            @include respond-down(pc) {
                padding: 8px 40px;
                font-size: 25px;
            }
        }
    }
}

section.contact-anim {
    margin-top: 105px;
    @include respond-down(pc) {
        margin-top: 70px;
    }
    @include respond-down(xs) {
        margin-top: 80px;
    }
    .container-contact {
        display: flex;
        white-space: nowrap;
        overflow: hidden;
        padding: 70px 0;
        @include respond-down(pc) {
            padding: 40px 0;
        }
        @include respond-down(xs) {
            padding: 30px 0;
        }
        .list {
            display: flex;
            align-items: top;
            -webkit-animation: loop 30s infinite linear;
            animation: loop 30s infinite linear;
            .item-txt {
                margin: 0 30px;
                font-size: 90px;
                line-height: 70px;
                font-weight: 901;
                color: #1A1A1A;
                text-transform: uppercase;
                @include respond-down(pc) {
                    margin: 0 15px;
                    font-size: 40px;
                    line-height: 40px;
                }
            }
        }
    }
}

section.contact-us {
    padding-bottom: 80px;
    @include respond-down(xs) {
        padding-bottom: 35px;
    }
    img {
        width: 100%;
    }
    form#contact-us {
        padding-left: 70px;
        @include respond-down(xs) {
            padding: 0;
            margin-top: 30px;
        }
        label {
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 0;
            @include respond-down(pc) {
                font-size: 15px;
            }
        }
        .input-group-prepend {
            .input-group-text {
                background: transparent;
                border: none;
                font-size: 23px;
                padding-right: 0;
                @include respond-down(pc) {
                    font-size: 20px;
                }
                @include respond-down(pc) {
                    padding: 5px;
                }
            }
        }
        input,
        textarea {
            border: none;
            box-shadow: none;
            outline: none;
            color: black;
            @include respond-down(pc) {
                font-size: 15px;
            }
        }
        textarea {
            @include respond-down(pc) {
                max-height: 70px;
            }
            @include respond-down(xs) {
                max-height: initial;
            }
        }
        .input-group {
            border-bottom: 2px solid black;
            margin-bottom: 20px !important;
            @include respond-down(pc) {
                margin-bottom: 16px !important;
            }
        }
        button {
            display: block;
            width: 100%;
            font-size: 26px;
            font-weight: 900;
            background: #FF7A06;
            border: none;
            box-shadow: none;
            border-radius: 0;
            text-transform: uppercase;
            &:hover {
                background: black;
            }
            @include respond-down(pc) {
                font-size: 23px;
            }
        }
    }
}