@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-CondObl.woff2') format('woff2'), url('HelveticaLTStd-CondObl.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-Light.woff2') format('woff2'), url('HelveticaLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-LightCond.woff2') format('woff2'), url('HelveticaLTStd-LightCond.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-Obl.woff2') format('woff2'), url('HelveticaLTStd-Obl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-LightCondObl.woff2') format('woff2'), url('HelveticaLTStd-LightCondObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-LightObl.woff2') format('woff2'), url('HelveticaLTStd-LightObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-ExtraComp.woff2') format('woff2'), url('HelveticaLTStd-ExtraComp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-UltraComp.woff2') format('woff2'), url('HelveticaLTStd-UltraComp.woff') format('woff');
    font-weight: 901;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-Roman.woff2') format('woff2'), url('HelveticaLTStd-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-Blk.woff2') format('woff2'), url('HelveticaLTStd-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-BlkCondObl.woff2') format('woff2'), url('HelveticaLTStd-BlkCondObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-BlkCond.woff2') format('woff2'), url('HelveticaLTStd-BlkCond.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-Bold.woff2') format('woff2'), url('HelveticaLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-BoldCond.woff2') format('woff2'), url('HelveticaLTStd-BoldCond.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-BlkObl.woff2') format('woff2'), url('HelveticaLTStd-BlkObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-BoldCondObl.woff2') format('woff2'), url('HelveticaLTStd-BoldCondObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-Comp.woff2') format('woff2'), url('HelveticaLTStd-Comp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-Cond.woff2') format('woff2'), url('HelveticaLTStd-Cond.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaLTStd-BoldObl.woff2') format('woff2'), url('HelveticaLTStd-BoldObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}